body {
    font-family: "Times New Roman", Times, serif;
}

.first {
    display: flex;
}

.second {
    text-align: center;
    padding: 0 50px 0 50px;
}

.column {
    margin: 0 30px 0 30px;
    color: white;
}


.column *{
    padding: 15px;
    overflow: hidden;
}

.column p {
    padding-left: 40px;
    padding-right: 40px;
}

.left {
    background-color: lightgray;
    border-radius: 20px;
}

.left h1 {
    margin: auto;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.left p {
    color: black;
}

.left p:first-letter {
    font-size: 2em;
}

.right {
    background-color: green;
    border: 4px solid black;
    box-shadow: 8px 8px 2px gray;
}

.right h1 {
    font-style: italic;
    margin: auto;
    background-color: orange;
}

.right p:first-line {
    font-weight: bold;
    text-shadow: -4px 4px 2px white;
}

.second h1 {
    margin: 60px;
}

.second p:before {
    content: url(cat.jpg);
    width: 1em;
    height: 1em;

}

.second p {
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
/*Zadanie domowe:
struktura html i css dla samolotów (klikalna apka) na 17 listopada

25.11 KOŁO!!!!!!!!!!!
zbudować podczas zajęć strukturę html + css + javascript
jpeg z wyglądaem docelowym, opis oczekiwanego działania
można korzystać z neta, ale bez komunikacji
*/
